<MobPackAvoidance>
  <Enabled>True</Enabled>
  <ScanRadius>200</ScanRadius>
  <ClusterRadius>10</ClusterRadius>
  <MaxPackSize>4</MaxPackSize>
  <BlackspotDuration>60000</BlackspotDuration>
  <BlackspotRadius>30</BlackspotRadius>
  <LevelAdvantageRequired>4</LevelAdvantageRequired>
  <AvoidHighLevelElites>True</AvoidHighLevelElites>
  <EliteLevelDifference>2</EliteLevelDifference>
</MobPackAvoidance>